::placeholder {
  color: #999 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999 !important;
}

::-ms-input-placeholder {
  color: #999 !important;
}

body .jq-toast-single h2 {
    letter-spacing: normal;
}

textarea.noresize {
    resize: none;
}

.text-black {
    color: #444 !important;
}

.navbar-nav .sidebar-toggle::after {
    content: none;
}

.navbar-nav .avatar::before {
    content: none;
}

.side-user .avatar-text {
    text-transform: uppercase;
}

.btn {
    padding: 0.375rem 1.75rem;
}

.dropdown-toggle-user::before {
    content: none;
}

.dropdown-card.dropdown-card-profile .card-body li button {
    padding: 0.66667em;
    display: block;
    color: #495057;
    font-size: 1.07143em;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-card.dropdown-card-profile .card-body li button:hover {
    color: #1976d2;
}

.bootstrap-tagsinput .label-info {
    background: #1976d2;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #1976d2;
}

.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple {
    border-color: rgba(0, 123, 255, 0.5);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    background-color: #1976d2;
    border-color: #1976d2;
}

span.select2-selection.select2-selection--single {
    outline: none;
}

.mce-tinymce.mce-panel {
    border-radius: 0.25rem;
    overflow: hidden;
}

.form-group.is-invalid div.mce-tinymce.mce-panel {
    border-color: #dc3545;
}

.error-page h1 {
    text-shadow: 4px 4px 0 #f26f22, 6px 6px 0 #fff;
}

div.mce-edit-area {
  padding-right: 1px;
}

.___sortable__hint {
    font-size: 12px;
    margin-bottom: 10px;
}

.___sortable a {
    cursor: pointer;
}

.___sortable .___sortable__item {
    cursor: default;
}

.___sortable .___sortable__item .___sortable__item--icon {
    width: 50px;
}

.___table {
    display: flex;
    overflow-x: auto;
}

.___table td.empty {
    text-align: center;
}

.___table .___table__activity {
    min-width: 400px;
}

.___table .___table__transaction {
    min-width: 1000px;
}

.___steps {
    flex-wrap: wrap;
}

.___steps .___steps__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}

.___steps .___steps__item .___steps__item--number {
    width: 40px;
    height: 40px;
    background: #fff;
    color: #1976d2;
    border: 5px solid #1976d2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.___steps .___steps__item.done .___steps__item--number {
    background: #1976d2;
    color: #fff;
}

.___steps .___steps__item.active .___steps__item--number {
    background: #1976d2;
    color: #fff;
}

.___steps .___steps__item .___steps__item--text {
    margin: 5px 0 20px;
    text-align: center;
}

.___steps .___steps__item.done .___steps__item--text {
    color: #444;
}

.___steps .___steps__item.active .___steps__item--text {
    color: #444;
    font-weight: 700;
}

@media (min-width: 768px) {
    .___steps .___steps__item:not(:first-of-type)::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: calc(100% - 20px);
        height: 5px;
        left: calc(-50% + 16px);
        top: 18px;
        background: #1976d2;
    }
}

.___sup {
    font-size: 50%;
    margin-right: 5px;
}

.___card .widget-bg,
.___card .widget-bg .widget-body,
.___card-icon .widget-bg,
.___card-icon .widget-bg .widget-body {
    height: 100%;
}

.___card a {
    min-width: 160px;
}

.___card-icon .widget-bg .widget-body i {
    font-size: 40px;
}

.___card-account .widget-user-profile .profile-user-avatar {
    margin-top: -4em;
}

.___card-account .widget-user-profile .profile-wall-img img {
    max-height: 200px;
    object-fit: cover;
}

.___card-image {
    border: 1px solid #eef1f2;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.___card-image img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.___card-image .___card-image__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.___card-image .___card-image__content a {
    cursor: pointer;
}

.___card-image .___card-image__content--title {
    margin: 10px 0;
    color: #999;
    text-align: center;
    flex: 1;
}

.___card-image .___card-image__content--subtitle {
    margin: 5px 0 10px;
}

.___card-image .___card-image__content--buttons {
    align-self: flex-end;
}

.___home-page .page-link {
    color: #999;
}

.___home-page__credit {
    padding: 20px;
    border: 1px solid #dee2e6;
}

.___home-page__credit .___border {
    border-left: 1px solid #dee2e6;
}

.___home-page__credit__carousel {
    display: flex;
    align-items: center;
}

.___home-page__credit__carousel .slick-dots li {
    margin: 0;
}

.___home-page__credit__carousel > a {
    line-height: normal;
}

.___home-page__credit__carousel > a.slick-disabled {
    cursor: not-allowed !important;
}

.___home-page__credit__carousel--prev {
    margin-right: 10px;
}

.___home-page__credit__carousel--next {
    margin-left: 10px;
}

.___home-page__credit__carousel--container {
    width: calc(100% - 100px);
}

.___home-page__credit__carousel--container.single {
    width: 100%;
}

.___home-page__credit__price {
    font-size: 30px;
    line-height: normal;
}

.___home-page__credit__deadline {
    font-size: 20px;
    line-height: normal;
}

.___home-page__transaction__select {
    max-width: 200px;
}

@media (max-width: 575.98px) {
    .___home-page__credit .___border {
        border-left: none;
    }

    .___home-page__credit__price {
        font-size: 24px;
    }
}

@media (max-width: 767.98px) {
    .___home-page__credit__carousel > a {
        display: none;
    }

    .___home-page__credit__carousel--container {
        width: 100%;
    }
}

.___credit-all-page__list > div:not(:last-child) {
    margin-bottom: 20px;
}

.___account-page__profile__image {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.___account-page__profile__image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
