[class*=col-] {
    margin-left: -.3px;
    margin-right: -.3px;
}

.___m-0 {
    margin: 0 !important;
}

.___equal-column-height {
    display: flex;
    flex-wrap: wrap;
}

.___section {
    padding: 90px 0 70px;
}

.___border-none {
    border: none !important;
}

.___promo-contents .slick-slide {
    width: 400px;
    height: 225px;
    margin: 40px;
    border-radius: 15px;
    overflow: hidden;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

.___promo-contents .slick-slide.slick-center {
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    border-radius: 20px;
}

.___promo-contents .___promo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 768px) {
    .___promo-contents .slick-slide {
        margin: 0 10px;
        height: calc((100vw - 20px) * 0.5625);
    }
}

.___simulation {
    background: #ffffff;
    padding: 30px 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}

.___simulation h3 {
    position: relative;
    color: #242424;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.___simulation input {
    height: 50px !important;
}

.___simulation select {
    height: 50px;
    border-radius: 0;
    line-height: inherit;
    padding: 0 15px;
}

.___simulation select:invalid {
  color: #bbb;
}

.___simulation .theme-btn {
    position: relative;
    border-radius: 50px;
    line-height: 24px;
    padding: 8px 25px;
    min-width: 170px;
    font-size: 16px;
    text-align: center;
}

.___home-page__simulation-container {
    display: block;
    z-index: 999;
}

@media (max-width: 767.98px) {
    .___home-page__simulation-container {
        position: relative;
        width: calc(100% - 30px);
        margin: 60px 15px 0px;
    }
}

@media(min-width: 768px) {
    .___home-page__simulation-container {
        position: relative;
        width: calc(100% - 60px);
        margin: 60px 30px 0px;
    }
}

@media(min-width: 992px) {
    .___home-page__simulation-container {
        position: absolute;
        top: 10px;
        right: 90px;
        width: 320px;
        margin: 0;
    }
}

@media(min-width: 1200px) {
    .___home-page__simulation-container {
        position: absolute;
        top: 160px;
        right: 160px;
        width: 360px;
        margin: 0;
    }
}

.___about-page h2 {
    text-align: center;
    font-size: 35px;
    color: #242424;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 20px;
}

.___about-page h3 {
    color: #797979;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 10px;
}

.___about-page {
    border-bottom: 1px solid #e6e6e6;
}

.___about-page span.quote {
    font-style: italic;
}

.___about-page ul {
   list-style-type: disc;
   list-style-position: inside;
   margin-left: 18px;
}
.___about-page li {
    list-style-type: disc;
}

.___html ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.___html ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.___html li {
    list-style: inherit;
}

.___disclaimer-modal {
    font-family: 'Open Sans', sans-serif;
}

.___disclaimer-modal h3 {
    color: #242424;
    font-weight: 600;
}

.___disclaimer-modal .___html ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 20px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 20px;
}

.___disclaimer-modal .___html ul {
    margin-block-start: 0;
    padding-inline-start: 20px;
    -webkit-margin-before: 0;
    -webkit-padding-start: 20px;
}

.sec-title.no-border::before {
    content: none;
}

.sec-title.purple::before {
    background-color: #7059c5;
}

.sec-title.orange::before {
    background-color: #f26f22;
}

@media(min-width: 1149px) {
    .main-header .search-box-btn {
        padding-left: 0;
    }

    .main-header .search-box-btn span {
        visibility: hidden;
    }

    .main-header .outer-box .btn-box {
        margin-left: 5px;
    }
}

.contact-page-section .contact-form .theme-btn {
    position:relative;
	border-radius:50px;
	line-height:24px;
	padding:8px 25px;
	min-width:170px;
    font-size:16px;
    margin-bottom: 40px;
    text-align: center;
}

.contact-page-section .info-column ul li {
    margin-bottom: 20px;
    font-weight: 400;
}

.contact-page-section .info-column ul li h3 {
    color: #242424;
    font-weight: 600;
}

.call-to-action-section-two .theme-btn {
    margin-top: 10px;
    position: relative;
    border-radius: 50px;
    line-height: 24px;
    padding: 8px 25px;
    min-width: 250px;
    font-size: 16px;
}

.payment-section {
    background-color: #f4f4f4;
}

.payment-section .accordion-box .acc-btn img {
    width: 50px;
    margin-right: 20px;
}

.simulation-product-section {
    padding-top: 90px;
}

.simulation-product-section h1 {
    color: #242424;
    line-height: 1.4em;
    max-width: 600px;
    margin: 50px 0;
}

.simulation-product-section .___simulation-container {
    position: relative;
    height: 100%;
}

.simulation-product-section .___simulation-container .___simulation {
    position: absolute;
    bottom: -260px;
    right: 15px;
}


@media(max-width: 992px) {
    .simulation-product-section h1 {
        margin: 0 0 30px;
        font-size: 30px;
    }

    .simulation-product-section .___simulation-container .___simulation {
        position: relative;
        bottom: 0;
        right: 0;
    }
}

@media (min-width: 993px) and (max-width: 1150px) {
    .simulation-product-section .___simulation-container .___simulation {
        bottom: -270px;
    }
}

.owl-carousel .owl-item img {
    height: 100%;
    object-fit: cover;
}

.slider-product-section .title:before {
    content: none;
}

.slider-product-section .btns-box .theme-btn {
    border-radius: 50px;
}

.product-detail-section h2 {
    position: relative;
    color: #242424;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 20px;
}

.product-detail-section .text p {
    position: relative;
    color: #797979;
    font-size: 16px;
    margin-bottom: 20px;
}

.terms-section h2 {
    position: relative;
    color: #242424;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 30px;
    text-align: center;
}

.terms-section .text p {
    position: relative;
    color: #797979;
    font-size: 16px;
    margin-bottom: 20px;
}

.article-section .theme-btn,
.tips-section .theme-btn {
    position: relative;
    border-radius: 50px;
    line-height: 24px;
    padding: 8px 25px;
    min-width: 170px;
    font-size: 16px;
    text-align: center;
}

.simulation-section {
    background: blue;
    padding: 120px 0 40px;
}

.simulation-section .sec-title {
    margin-bottom: 40px;
    padding: 0;
}

.simulation-section .sec-title h2 {
    color: #fff;
}

@media(min-width: 991px) {
    .simulation-section .sec-title {
        margin-top: 100px;
    }
}

@media(max-width: 1150px) {
    .simulation-section {
        padding-top: 40px;
    }
}

.services-page-section {
    padding: 110px 0 75px;
    border-bottom: 1px solid #e6e6e6;
}

.services-page-section.no-border {
    border: none;
}

.services-blocks {
    margin-bottom: 0;
}

.services-blocks:before {
    width: 0;
    height: 0;
}

.services-block .inner-box .icon-box,
.services-block .inner-box:hover h3 {
    color: #7059c5;
}

.services-block .inner-box:hover .icon-box:before {
    background: #7059c5;
}

.services-block-five:nth-child(even)::before {
    position: absolute;
    content: '';
    left: 0;
    top: 25%;
    width: 1px;
    height: 50%;
    background-color: #e6e6e6;
}

@media(max-width: 575.98px) {
    .services-block-five:nth-child(even)::before {
        width: 0;
        height: 0;
    }
}

.services-block-five .inner-box {
    border-bottom: none;
    padding-bottom: 0 !important;
}

.services-block-five .inner-box div.image-container {
    margin-bottom: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.featured-section.bg-white {
    background-color: #fff;
}

.featured-block.orange .inner-box .icon-box,
.featured-block.orange .inner-box .icon-box, {
    color: #f26f22;
}

.featured-block.orange .inner-box h3 a:hover,
.featured-block.orange .inner-box:hover h3 a,
.featured-block.orange .inner-box:hover h3,
.featured-block .inner-box h3 a:hover,
.featured-block .inner-box:hover h3 a,
.featured-block .inner-box:hover h3 {
    color: #242424;
}

.featured-block .inner-box .icon-box,
.featured-block .inner-box .icon-box {
    color: #00AFF0;
}

.testimonial-block .inner-box .image {
    width: 87px;
    height: 87px;
}

.subscribe-form .form-group input[type="text"],
.subscribe-form .form-group input[type="tel"],
.subscribe-form .form-group input[type="email"],
.subscribe-form .form-group textarea {
	border: none;
}

.subscribe-form .form-group input[type="submit"],
.subscribe-form button {
	background: #31a1e5;
}

.subscribe-form .form-group input[type="submit"]:hover,
.subscribe-form button:hover {
	background: #1e212a;
}

/* Microsite Styles */

.btn-style-one:hover  {
    background: #f26f22;
    border-color: #f26f22;
}

.btn-style-one:focus {
    background: #f26f22;
    border-color: #f26f22;
    color: #fff;
}

.btn-style-seven {
    background-color: #f26f22;
    border: 2px solid #f26f22;
}

.btn-style-seven:hover {
    color: #f26f22;
}

.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a, .main-menu .navigation > li.current-menu-item > a {
    color: #f26f22;
}

.main-header .sticky-header .main-menu .navigation > li:hover > a, .main-header .sticky-header .main-menu .navigation > li.current > a, .main-header .sticky-header .main-menu .navigation > li.current-menu-item > a {
    color: #f26f22;
}

.sec-title:before {
    background-color: #f26f22;
}

.services-block-five .inner-box h2 a:hover {
    color: #f26f22;
}

.services-block-five .inner-box .take-now {
    color: #f26f22;
    border-bottom: 2px solid #f26f22;
}

.testimonial-section:before {
    opacity: 0.8;
    background-color: #f78b4b;
}

.subscribe-section:before {
    background-color: rgba(51, 45, 37, 0.6);
}

.subscribe-form .form-group input[type="submit"], .subscribe-form button {
    background: #f26f22;
}

.main-footer .list li a:hover {
    color: #f26f22;
}

.scroll-to-top {
    background: #f26f22;
    border: 2px solid #f26f22;
}

.scroll-to-top:hover {
    border-color: #18191b;
    background: #18191b;
}

.main-slider .tparrows.gyges:hover {
    color: #f26f22;
    background-color: #f26f22;
}

.main-slider .title {
    font-style: normal;
    font-family: 'Open Sans', serif;
}

.main-slider .title:before {
    content: none;
}

.main-slider .tp-bgimg.defaultimg {
    filter:brightness(60%);
}

@media only screen and (max-width: 767px) {
    .main-menu .navbar-header .navbar-toggle {
        border: 1px solid #f26f22;
        background: #f26f22;
    }

    .main-menu .navbar-collapse > .navigation > li:hover > a, .main-menu .navbar-collapse > .navigation > li > ul > li:hover > a, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a, .main-menu .navbar-collapse > .navigation > li.current > a, .main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
    .main-menu .navbar-collapse > .navigation > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a {
        background: #f26f22;
    }
}

.page-title .page-breadcrumb li a {
    color: #f26f22;
}

.page-title:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(51, 45, 37, 0.3);
}

.contact-page-section .title h2:after,
.faq-section .title h2:after {
    background-color: #f26f22;
}

.promo-detail-section img {
    width: 70%;
    margin-bottom: 30px;
}

.promo-detail-section h2 {
    font-size: 35px;
    color: #242424;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 20px;
}

.contact-page-section .socmed .socmed-item {
    color: #242424;
    font-size: 32px;
    margin-right: 8px;
}

.call-to-action-section-two:before {
    background-color: rgba(51,51,51,0.6);
}

.main-menu .navigation > li > ul > li:hover > a {
    background-color: #f26f22;
}

.news-block-two .inner-box .lower-content {
    padding: 0;
}

.sidebar-page-container .inner-box h2 {
    font-size: 35px;
    color: #242424;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.news-block-two .inner-box .lower-content .lower-box .theme-btn {
    position: relative;
    border-radius: 50px;
    line-height: 24px;
    padding: 8px 25px;
    min-width: 170px;
    font-size: 16px;
    text-align: center;
}

.news-block-two .inner-box .lower-content .lower-box h3 a:hover, .news-block-two .inner-box:hover .lower-content .lower-box h3 a {
    color: #f26f22;
}

.news-block-two .inner-box .image {
    height: 300px;
    background-color: transparent;
}

.news-block-two .inner-box .image img {
    object-fit: cover;
    height: 100%;
}

@media(max-width: 991.98px) {
    .news-block-two .inner-box .image {
        height: 200px;
    }
}

.contact-page-section .contact-form .error {
    font-weight: 600;
    font-size: 80%;
    color: #dc3545;
}

.faq-section .faq-form-error {
    font-weight: 600;
    font-size: 80%;
    color: #dc3545;
}

.faq-section .faq-form-error span {
    font-weight: 700;
}

.sidebar-title h2:after {
    background-color: #f26f22;
}

.sidebar .popular-posts .post a:hover {
    color: #f26f22;
}

.sec-title-two h2:after {
    background-color: #f26f22;
}

.shop-order-box {
    padding: 20px 28px;
}

.shop-order-box .information-list .information-item {
    display: flex;
    flex-wrap: wrap;
    color: #797979;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.shop-order-box .information-list .information-item:not(:last-of-type) {
    margin-bottom: 12px;
}

.shop-order-box .information-list .information-item span.dark {
    color: #242424;
}

.shop-form .submit-button {
    margin-top: 20px;
}

.shop-form input {
    height: 50px !important;
}

.shop-form select {
    height: 50px;
    border-radius: 0;
    line-height: inherit;
    padding: 0 15px;
}

.shop-form select:invalid {
  color: #bbb;
}

.shop-form .billing-inner {
    margin-bottom: 40px;
}

.shop-form .billing-inner .form-group .text-help {
    display: flex;
    flex-direction: column;
    color: #bbb;
    font-size: 85%;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

.shop-form .billing-inner .form-group .text-help .button-resend {
    color: #2eabe8;
    font-weight: 600;
}

.shop-form .form-error {
    font-weight: 600;
    font-size: 80%;
    color: #dc3545;
}

.shop-form .theme-btn {
    position:relative;
	border-radius:50px;
	line-height:24px;
	padding:8px 25px;
	min-width:170px;
    font-size:16px;
    text-align: center;
}

.___simulation-result-page .calculation-result {
    font-size: 24px;
    color: #242424;
    font-weight: 600;
    line-height: 1.4em;
    margin: 5px 0 10px;
}

.testimonial-section .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-top: 10px;
    color: white;
}

.testimonial-section .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: -26px;
    transition: left 100ms ease;
}

.testimonial-section .owl-nav .owl-prev:hover {
    left: -28px;
}

.testimonial-section .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: -26px;
    transition: right 100ms ease;
}

.testimonial-section .owl-nav .owl-next:hover {
    right: -28px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    color: #242424;
}

.btn-rounded {
    position: relative;
    border-radius: 50px;
    line-height: 24px;
    padding: 8px 25px;
    min-width: 170px;
    font-size: 16px;
    text-align: center;
}

.clients-section .sponsors-outer .image-box img {
    height: auto;
    max-height: 100%;
}

.featured-block .inner-box:hover .icon-box {
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    transform: none;
}

.btn-disabled,
.btn-disabled:hover {
    cursor: not-allowed;
    background-color: #ddd;
    border-color: #ddd;
    color: #eee;
}

.btn-disabled-hint {
    display: block;
    color: #dc3545;
    font-weight: 600;
    max-width: 370px;
    line-height: 1.4;
    margin-top: 10px;
}
