.___table .___table__metas {
    min-width: 400px;
}

.___table .___table__metas a {
    cursor: pointer;
}

.___table .___table__metas .___table__metas__content--pages span:not(:last-of-type)::after {
    content: ',';
}
