.___table .___table__simulation {
    min-width: 400px;
}

.___table .___table__simulation a {
    cursor: pointer;
}

.___table .___table__simulation .___table__simulation__content--installments span:not(:last-of-type)::after {
    content: ',';
}

.___table .___table__installment {
    min-width: 400px;
}

.___table .___table__installment a {
    cursor: pointer;
}

