.___users-page .___btn-change-profile {
    margin-right: 0px;
}

@media (min-width: 576px) {
    .___users-page .___btn-change-profile {
        margin-right: 10px !important;
    }
}

.___users-page .___table .___table__users {
    min-width: 400px;
}

.___users-page .___table .___table__users a {
    cursor: pointer;
}
